<mat-card _ngcontent-serverapp-c23="" class="mat-card"><a _ngcontent-serverapp-c23="" class="divimg mat-card-image"
        mat-card-image="" href="/productos/tipo%3Dtexto?sku=16221"><img _ngcontent-serverapp-c23=""
            src="https://app.productos.tubosyconexiones.mx/productos/images/obtener/UR_4111_3.jpg"
            alt="CINTA TEFLON 19MM 3/4X2.60M 4111.3 DICA">
        <!----><span _ngcontent-serverapp-c23="" class="descbase ng-star-inserted">- 40.06%</span>
        <!---->
    </a>
    <mat-card-content _ngcontent-serverapp-c23=""
        class="d-flex flex-column justify-content-center align-content-center mat-card-content">
        <div _ngcontent-serverapp-c23="" class="lineastxt mt10 mh50 divhiden">
            <h2 _ngcontent-serverapp-c23="" class="whenmobil">Cinta Teflon 19Mm 3/4X2.60m 4111.3 Dica</h2>
        </div>
        <!---->
        <div _ngcontent-serverapp-c23=""
            class="spacer d-flex justify-content-center align-items-end divhiden ng-star-inserted">
            <div _ngcontent-serverapp-c23="" class="d-flex justify-content-between align-items-end w-100"><span
                    _ngcontent-serverapp-c23="" class="p2">$8.22 </span>
                <!---->
            </div>
        </div>
        <div _ngcontent-serverapp-c23="" class="btnhiden d-flex justify-content-center align-content-center"><button
                _ngcontent-serverapp-c23="" mat-stroked-button="" class="mat-stroked-button mat-primary"><span
                    class="mat-button-wrapper">
                    <mat-icon _ngcontent-serverapp-c23=""
                        class="material-icons-outlined mat-icon notranslate material-icons mat-icon-no-color" role="img"
                        aria-hidden="true">shopping_cart</mat-icon><span _ngcontent-serverapp-c23=""
                        class="whenmobil">Agregar a Carrito</span>
                </span>
                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                <div class="mat-button-focus-overlay"></div>
            </button></div>
    </mat-card-content>
</mat-card>